.tabela{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    border: 1px solid;
    border-collapse: collapse;
}

.tabela th,td{
  border: 1px solid;
}

h2{
    text-align: center;
}

.busca label
{
  font-weight: bold;
}
